<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>

<body>
    Nama: {{nama}}
    Kelas: 9
    COBA DEPLOYY
</body>

</html>